<div class="main-content">
    <div class="header-content">
        <div class="emp-detail-text">
            Employee Details
            <div class="emp-count">{{employeeCount}}</div>
        </div>
        <a class="add-button" routerLink="/form">
            <img src="../../../assets/icons/add-24px.svg" alt="">Add User</a>
    </div>
    <div class="table-main">
        <table id="table-display" class="table">
            <tr>
                <!-- Table Headers -->
                <th></th>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Start Date</th>
                <th>Actions</th>
            </tr>
            <!-- Employee Details in Table Rows -->
            <tr *ngFor="let emplpoyee of employeeDetails">
                <td>
                    <img class="profile" src={{emplpoyee.empProfilePic}} alt="">
                </td>
                <td>{{emplpoyee.empName}}</td>
                <td>{{emplpoyee.empGender}}</td>
                <td>
                    <div class="dept-label" *ngFor="let empDepartment of emplpoyee.empDepartment ">
                        {{empDepartment}}
                    </div>
                </td>
                <td>&#8377; {{emplpoyee.empSalary}}</td>
                <td>{{emplpoyee.startDate | pipeTansform}}</td>
                <!--To update and delete an employee from the database-->
                <td>
                    <img id={{emplpoyee.empId}} (click)="remove(emplpoyee.empId)"
                        src="../assets/icons/delete-black-18dp.svg" alt="delete">
                    <img id={{emplpoyee.empId}} (click)="update(emplpoyee)" src="../assets/icons/create-black-18dp.svg"
                        alt="edit">
                </td>
            </tr>
        </table>
    </div>
</div>